<ion-content>

    <ion-grid style="background-color:white; text-align: center ;height:100%;">
        
           

            <ion-row class=" ion-align-items-center" style="height: 100%;">
                <ion-col >
                  <div>
                    <img src="/assets/senado_azul.png" style="width:45%" />
                  </div>
                  <div style="margin-top:0.5rem"><ion-spinner color="dark" ></ion-spinner> </div>
                </ion-col>
               
              </ion-row>
        
    </ion-grid>

   
    

</ion-content>